<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="email" name="email" id="email" placeholder="Please enter email" required><br><br>
        <input type="password" name="password" id="password" placeholder="Please enter password" required><br><br>
        <input type="submit" value="Login"><br><br>
        <a href="/register">Register</a>
    </form>
</body>
</html>