<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" name="name" id="name" placeholder="Please enter name" required><br><br>
        <input type="email" name="email" id="email" placeholder="Please enter email" required><br><br>
        <input type="password" name="password" id="password" placeholder="Please enter password" required><br><br>
        <input type="submit" value="Register"><br><br>
        <a href="/login">Login</a>
    </form>
</body>
</html>